<!DOCTYPE html>


    <!--This view is intended to make the homepage for admin-->
    <!--Author: Rana M. Elbrishy -->

	<html>
  <head>
  <style type="text/css">
	body
	{
		background-color:pink;
	}

	h1 
	{
		color:orange;
		text-align:center;
		font-size: 40px;
	}

	p
	{
		font-family: "Times New Roman";
		font-size: 20px;
	}

	</style>
	<title>AdminPage</title>
	</head>
	<body>

	<h1> <b> Admin homepage </b></h1>
	<img src="img.gif" height="500" width="400"/>
	
	<h4> <b> My responsibilities  </b> </h4>
	 
	<p id="info"> <b> view all reports sent against user (sender)s who didn't confirm the final delivery
	</b></p>

	 <button type="button" onclick="myFunction()">View reports!</button>


	 <!--This view is intended to add a link for showing all shipments done-->
    <!--Author: Rana M. Elbrishy -->

	 <br>
	 <%= link_to("Show all finished shipments", {:action => 'index'}, :class => 'Adminhomepage') %>
	 </br>

	 <p id="inform"> <b> view all new users per month 
	 </b></p>
       
   <button type="button" onclick="myFunction()">View new users</button>

	 <p id="information"> <b> view revenues /month 	
	 </b></p>

	 <button type="button" onclick="myFunction()">View revenue</button>

	 <button type="button" onclick="myFunction()">View Commisions </button>

	 <script>

	function myFunction()
	{
		document.getElementById("infor").innerHTML=  <%= @packages %>
	}

	</script>
	<p>  <b> <button type="button" onclick="myFunction()">generate graphs</button>  </b> </p>
	</body>
	</html>

