<!--This view is intended to show that the password will be reset in an email -->
<!--Author: John W.Ghali -->
<h2>
<%=@salout%>
<br>
<br><br><br><br>
<h3><a href='signin'> login </a> | <a href='forgot'> forgot password </a> </h3></h2>
