<!--This view is intended to add button to signup and a checkbox to agree the terms and polices -->
<!--Author: John W.Ghali -->
 <t1 class="package create">
 <head>
 <script>
 function checkrequired(which)
 {

 	if(which.elements[4].value != which.elements[3].value)
 	{

		alert("Password confirmation is not the same");
 		return false;
 	}

    if(!which.checkbox.checked)
    {
        alert("You must agree to the terms and polices");
        return false;
    }

	
		for (i=0;i<which.length;i++)
		{
			if(which.elements[i].value.length == 0)
			{
				alert("One or more of the required elements are not completed. Please complete them, then submit again!")
				return false
			}
		}
	
}

</script>
</head>
<html>
<body>



<form onSubmit="return checkrequired(this)"  action='create'>

Username: <input type ="text" name="username"><br>
Email: <input type="text" name="email"><br>
Mobile Number: <input type ="text" name="mobilenum"><br>
Password: <input type ="text" name="password"><br>
Confirm Password: <input type ="text" name="confpassword"><br>

    <b>By submitting, I affirm that all information entered is accurate & truthful.</b>
    <br /><br />
    Please approve. <input type="checkbox" name="checkbox"  />
    <br /><br />
<input type ='submit' value='sign up'>



<br><br><br>
<h3><a href='signin'> login </a> | <a href='forgot'> forgot password </a> </h3>
</form>