<!--This view is intended to show that the username entered is used before -->
<!--Author: John W.Ghali -->
<form action='used'>
<h2>
Sorry this username is used before.Please try another one
</h2>
</form>
<br><br><br><br>
<h3><a href='Signin'> Login </a> | <a href='Signup'> Signup </a> </h3>
