<!--This view is intended to add a button to reset the password by an email -->
<!--Author: John W.Ghali -->
<script>

function checkrequired(which)
{
    for (i=0;i<which.length;i++)
    {
		if(which.elements[i].value.length == 0)
		{
				alert("Please enter a valid email, then try again!")
				return false
		}
	}
}
</script>
<form onSubmit="return checkrequired(this)"action='forgot_mail'>

mail: <input type ="email" name="email"><br>

<input type ='submit' value='Reset my password'>

</form>
<br><br><br><br>
<h3><a href='sign_in'> Login </a> | <a href='sign_up'> Signup </a></h3>