<!--This page is for viewing the notification page. -->
<!--Author: Youssef S.Barakat -->
<h3 class="title-2">Notifications</h3>

<%@notifications.each do |notification|%>
<li>
	<%= notification.description%>
</li>




<%end%>
