<h1>Reports</h1>
<form>
Package Number: <input type="text" name="PackageNo"><br>
Report: <br><TEXTAREA Name="Report" ROWS=10 COLS=35></TEXTAREA><br>
<button type="button">Submit Report</button> 
</form> 


