<!--This view is intended to verify the admin that an email has been sent-->
<!--Author: Ahmed .M Samouka -->
<h2>
  mail has been sent 
   
   "you did not confirm the final delevry and the carrier have reported you,please confirm or disconfirm as soon as possible.thank you "
  <br>
  <a href='index'> go back</a>
</h2>

