<%= javascript_include_tag "jquery", "jquery_ujs" %>
<h1>requests</h1>
<script type="text/javascript">


</script>


<!-- This button Send to send to a carrier request for a certain package-->
 <!-- Author: Manar A. ElTayeb.  -->
	
<% if @requests_count < 3%>
<h2>
 you can send more requests
<form action="requests" >
<input type=hidden value=<%=params[:pid]%> name="pid">
<input type=hidden value=<%=params[:cid]%> name="cid">
<input type=hidden value=<%=cookies[:user_id]%> name="user_id">
<input type = submit value= "send more requests">
</form>
<%else %>
<font color="red">

you cannot send requests

<%end%>


<% if @requests_count < 3   %>

     <p> sent successfully :) </p>

 
 <% elsif  @requests_count >= 3  %>
  <p2> you are not allowed to send more requests! </p2>

  

<% end %>

