<%= javascript_include_tag "jquery", "jquery_ujs" %>
<h1>requests</h1>
<script type="text/javascript">
	

</script>
	

<%= button_to 'Send', "/send_requests/requests" %>
<% if @requests_count < 3  && @requests_count >0 %>

     <p> sent successfully :) </p>

 
 <% else @requests_count > 3 %>
  <p2> you are not allowed to send more requests! </p2>

<% end %>

