<%= javascript_include_tag "jquery", "jquery_ujs" %>
<h1>requests</h1>
<script type="text/javascript">
	

</script>
	

<%= button_to 'Send', "/send_requests/requests" %>
<% if @requests_count < 3  %>

     <p> sent successfully :) </p>

 
 <% elsif  @requests_count >= 3  %>
  <p2> you are not allowed to send more requests! </p2>

  <% elsif  @requests_count > 0  %>
  <p4> sent successfully :) </p4>


<% end %>

