body {
background-color: black;
}
#Header {
width:420px;
height:124;
margin:0;
padding:15px;
text-align: center;

}
#m 
{
width:auto;
height:80px;

padding:20px;
background-color: rgb(50,100,200);
text-align:center-left;
color:red;
} 
#b
{
color:White;
font-size: 16px;

}

#visitor
{

a:hover {color:white;}

a:visited{color:purple;}

} 
#n 
{


color:green
font-size:20px;


}
#correct
{
color:blue;
font-size:16px;
width:auto;

}

