<!--This view to notify if there is any problem in the creditcard -->
<!--Author: Mario M. Wadiee -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
</head>
<body>
<h1>CreditCard Notification</h1>
    <h1>You don't have enought balance in your creditcard</h1>
    <a href="http://www.justinbieberrip.com "><img alt="justin bieber" title="justin bieber rip" src="http://www.mlsisland.com/Logos/cc-animated.gif" border="0"></a>
</body>
</html>
