<h1>Send Message</h1>

	

<p>


<form>
<input type="hidden" name="senderID" ><br>
<input type="hidden" name="receiverID"
<%= form_tag("/SendMessages/send", :method => "get") %>
<form name="input" action="demo_form_action.asp" method="get">
Type Your Message here: <input type="text" name="text">
<input name="commit" type="submit" value="Send">
</form>

</form>

<p>