<h1> Accepted Requests</h1>
 <% @users.to_a.each do |user| %>
      <% user.each do |n| %>
        <li>
          <th> You have accepted a requests of a package from <%= link_to n.username %></th>
        </li>
        <%end%>
     <%end%>
    <% @requests.to_a.each do |request| %>
     
     
     <%if request.senders_id!=nil%>
       <td class="actions">
         <th><%= link_to("cancel request", {:action => 'show', :id =>  request.id}) %></th>
         <th><%= link_to("show package", {:action => 'show_package', :id =>  request.packages_id}) %></th>    
          <br>
        </td>

      <%end%> 
      <%end%> 
