<!-- This view is intended to enter the carriers_Id -->
<!-- Author: Ahmed H. Nasser -->

<h2> please enter Carriers_Id </h2>

<form action ='list'>
<input type='text' name='id'>
<input type="submit" value="submit">
</form>