


<!-- Content
================================================== -->
<div id="content">

<!-- LayerSlider  -->
<section id="layerslider-container">  
  <div id="layerslider" style="width: 1020px; height: 450px; margin: 0 auto;">
    
    <!-- Slide 1 -->
    <article class="ls-layer" style="slidedelay: 10000;">
      <%= image_tag("slide-01.jpg", :class => "ls-bg") %>
      <!--<img class="ls-s4" src="images/slide-01a.png" style="top: 30px; left: 120px; slidedirection: bottom; slideoutdirection: bottom; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;" alt=""/>-->
      <!--<h3 class="ls-s1 caption-color" style="top: 357px; left: 756px; slidedirection: right; slideoutdirection: right; durationin: 400; durationout: 1000; easingin: easeOutExpo; delayin: 1000;">Powerful HTML5 Template</h3>-->
    </article>
    
    <!-- Slide 2 -->
    <article class="ls-layer" style="slidedelay: 10000; slidedirection: top;">
      <%= image_tag("slide-02.jpg", :class => "ls-bg") %>
              

<!--      <img src="images/slide-02.png" class="ls-bg">
      <img class="ls-s4" src="images/slide-02a.png" style="top: 50%; left: 260px; slidedirection: left; slideoutdirection: left; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt=""/>
      <img class="ls-s4" src="images/slide-02b.png" style="top: 50%; left: 544px; slidedirection: right; slideoutdirection: right; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt=""/>
      
      <img class="ls-s4" src="images/slide-02c.png" style="top: 230px; left: 494px; slidedirection: top; durationin: 800; durationout: 800; easingin : easeOutExpo; delayin : 1200;" alt=""/>
      
      <img class="ls-s2" src="images/slide-02d.png" style="top: 15px; left: -142px; slidedirection: left; slideoutdirection: left; durationin: 600; durationout: 1000; easingin: easeOutExpo; delayin: 1200;" alt=""/>
      <img class="ls-s2" src="images/slide-02e.png" style="top: 15px; left: 784px; slidedirection: right; slideoutdirection: right; durationin: 600; durationout: 1000; easingin: easeOutExpo; delayin: 1200;" alt=""/>
-->    </article>
    
    <!-- Slide 3 -->
    <article class="ls-layer" style="slidedelay: 7000;">
      <%= image_tag("slide-03.jpg", :class => "ls-bg") %>
      <!--<h3 class="ls-s1 caption-transparent" style="top: 357px; left: 40px;">Image in Slide Directly</h3>-->
    </article>

  </div>          
</section>
<!-- LayerSlider / End -->


<!-- 960 Container -->
<div class="container">

  <!-- Icon Boxes -->
  <section class="icon-box-container">

    <!-- Icon Box Start -->
    <div class="one-third column">
      <article class="icon-box">
        <i class="icon-bullhorn"></i>
        <h3 class="title-1">Find a Carrier</h3>
        <p>Find carriers willing to carry your packages anywhere with prices much lower than international shipping prices</p>
      </article>
    </div>
    <!-- Icon Box End -->

    <!-- Icon Box Start -->
    <div class="one-third column">
      <article class="icon-box">
        
        <h3 class="title-1"> Carry a Package</h3>
        <p>Make money out of travelling by carrying packages for Shipme users</p>
      </article>
    </div>
    <!-- Icon Box End -->

    <!-- Icon Box Start -->
    <div class="one-third column">
      <article class="icon-box">
        
        <h3 class="title-1">Feel Safe</h3>
        <p>Shipme's Policy guarantee your package to be delieverd safely</p>
      </article>
    </div>
    <!-- Icon Box End -->

  </section>
  <!-- Icon Boxes / End -->

</div>
<!-- 960 Container / End -->


<!-- 960 Container -->


<!-- 960 Container -->
<div class="container">

  <!-- Recent News -->
  <div class="eight columns">
    
    <h3 class="margin-1 title-2">Recent News <span>/ how many packages were delivered through shipme?</span></h3>

    <div class="four columns alpha">
    </div>

    <div class="four columns omega">
      <article class="recent-blog">
        <section class="date">
          <span class="day"> </span>
          <%= @packages_counter %>
          <span class="month">Packages</span>
        </section>
      <br>
      <br>
      <br>
        
      </article>
    </div>

  </div>

  <!-- Testimonials -->
  <div class="eight columns">

    <h3 class="margin-1 title-2">Testimonials <span>/ What Our Clients Say</span></h3>

    <!-- Testimonial Rotator -->
    <section class="flexslider testimonial-slider">
      <ul class="slides">
        <li class="testimonial">
          <div class="testimonials">"The only way to describe the shipment was extremely professional.."</div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Michael</div>
        </li>

        <li class="testimonial">
          <div class="testimonials">"Shipme was so helpful and I can not thank you enough. The packages arrived safely, you saved me alot of money"</div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Ahmed</div>
        </li>

        <li class="testimonial">
          <div class="testimonials">"my package was delivered on time by one of Shipme users, Thanks to Shipme for choosing their users wisely"</div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Salma</div>
        </li>

        <li class="testimonial">
          <div class="testimonials">"i delivered a package for someone on Shipme, he didn't confrim the delivery so i didn't take my money back, i reported him , and thanks to Shipme i have my money back now" </div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Ramy</div>
        </li>
      </ul>
    </section>
    <!-- Testomonial Rotator / End -->

  </div>

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->


