<!-- This view intends to show the website's instructions -->
<!-- Author: Hagar E. Aly -->
<br>
<h3 class ="title-2"> Instructions and Regulations </h3>
<br>
<p>1- The website will show international couriers prices guidelines so the senders will know how much they will save if they used this website and for the carriers to know how to estimate their price so that they should provide much lower prices than those international prices.</p>
<p>2- Carriers with complaints could be blacklisted (removed from the website) according to the website policy.</p>
<p> 3-For security senders can check the profile and personal information of the carriers applying on their shipment only and vice versa.</p>
<p> 4- Handling of the shipment is arranged between the sender and the carrier by any communication method provided in their profile (phone, email, etc….) </p>
<p>5- The website can add a list of the prohibited shipments in some countries , as well as the things that the carrier can/can't take on the plane Precautions </p>
<p>6-The website will provide some precautions/instructions for the sender and the carrier to secure both parties (ex. Carrier should investigate the shipment before taking it from the sender; sender can take the national id no of the carrier).</p>
<p> 7- For website admins, the website will provide them with statistics for number of shipments, most origin, most destinations, average price, and turnover. </p>
<p> 8- For confidentiality, the carrier doesn't add his traveling info. for the senders to search for him, but it goes the other way around that the sender adds his shipment information and the carrier who is travelling in the same period will ask to carry this shipment. Only when the sender chooses a certain carrier, the carrier can give his travelling info to the sender in the private tracking page. </p>
<p> 9- When the sender gives the shipment to the carrier, he should mark a check box that proofs that the sender gives the shipment and also the carrier does the same to proof receiving the shipment as one confirmation is not enough to proof that the shipment is given from the sender to the carrier.</p> 
<p> 10- For security senders can check the profile and personal information of the carriers applying on their shipment only and vice versa, as not to allow any user to access personal information of other users without any ongoing-dealing between them.</p>

<br>
<h3 class ="title-2"> General websites Regulations  </h3>
<br>
<p> 1- Check the web address to make sure you are on the correct site—Once you arrive at a site, you need to make sure that it is legitimate and not a fake or spoofed version.</p> 
<p> 2- Check that the site is secure—Look for a security seal, indicating that the site has been scanned and verified as secure by a trusted third party. This security seal indicates that the site will protect you from identity theft, credit card fraud, spam and other malicious threats.</p>
<p>3- Do not use a public computer to save or “cache” information to speed up your Internet experience. And, if you are using a public computer, information such as your browsing history and even your login information may be accessible to strangers who use the computer after you. If you leave the computer without logging out of certain sites, others might be able to access your accounts. To protect yourself, do all of your online shopping from your secure home computer. </p>
<p> 4- Only use a secure connection when you place your order—Never shop using an unsecured wireless network because hackers can access your payment information if the network is not protected.</p> 
<p> 5- Use strong passwords—Choose passwords that are difficult to guess and are at least 10 characters long consisting of a combination of numbers, letters, and symbols. Remember to keep your passwords private and don't set your computer to remember your credit card number or password when you create an account on an online shopping site. </p>
