<h1>Matching Carriers</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Destination</th>
      <th>Travellingdate</th>
      <th>Maximumweight</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |t| %>
      <tr>
        <td><%= t.Location %></td>
        <td><%= t.Destination %></td>
        <td><%= t.TravellingDate %></td>
        <td><%= t.Weight %></td>
        <td class="actions">
            
        
      </tr>
    <% end %>


  </tbody>
</table>

<br>

