
 <t1 class="trips">
<form>
Destination: <input type="text" name="destination"><br>
Location: <input type="text" name="location"><br>
Travelling Date: <input type="date" name="traveldate"><br>
Weight <input type="number" name="weight"><br>
<input type="submit" value="Add Trip">
</form>
</t1>