
<!--This view is intended to add  a text field with submit button to send a message-->
<!--Author: Madeleine Aziz Saad -->

<h1>Send Message</h1>
<p>
<%= form_tag("/messages/update/", :method => "post") %>
Type Your Message here: <input type="text" name="text">
<input name="commit" type="submit" value="Send">
</form>
<p>
