<form action="new_message" >
	<input type="hidden" value=<%=params[:id]%> name="id">
	<h3 class="title-2"> Send to: </h3> <input type="text" name="username">
	<h3 class="title-1"> Type your message here: </h3><input type="text" name="text">

	<input name="send" type="submit" value="Send">
</form>