
<div class="clearfix"></div>
<div class="container">

  <!-- Recent News -->
  <div class="eight columns">
    
    
  <!-- Testimonials -->
  <div class="eight columns">

    <h3 class="margin-1 title-2">Testimonials <span>/ What Our Clients Say</span></h3>

    <!-- Testimonial Rotator -->
    <section class="flexslider testimonial-slider">
      <ul class="slides">
        <li class="testimonial">
          <div class="testimonials">"The only way to describe the shipment was extremely professional.."</div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Michael</div>
        </li>

        <li class="testimonial">
          <div class="testimonials">"Shipme was so helpful and I can not thank you enough. The packages arrived safely, you saved me alot of money"</div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Ahmed</div>
        </li>

        <li class="testimonial">
          <div class="testimonials">"my package was delivered on time by one of Shipme users, Thanks to Shipme for choosing their users wisely"</div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Salma</div>
        </li>

        <li class="testimonial">
          <div class="testimonials">"i delivered a package for someone on Shipme, he didn't confrim the delivery so i didn't take my money back, i reported him , and thanks to Shipme i have my money back now" </div>
          <div class="testimonials-bg"></div>
          <div class="testimonials-author">Ramy</div>
        </li>
      </ul>
    </section>
    <!-- Testomonial Rotator / End -->

  </div>

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->
