<h3>Shipments done</h3>


    <%= @package_count %> 
    <% @packages_months.to_a.each do |month, package| %>  
    <h2><%= month.strftime("%B %Y") %></h2>  
      <% packages.to_a.each do |package| %>  
        <p><b><%= package.description %></b> due at <%= package.created_at.to_date.to_s(:long) %></p>  
      <% end %>  
    <% end %>  
