<html>
<h3>Shipments done</h3>

    <%= @package_count %>  
    <% @packages_months.to_a.each do |month, packages| %>  
    <h2><%= month.strftime("%B %Y") %></h2>  
    <% Packages.to_a.each do |package| %>  
    <%= @package_count %> 

      <% end %>  
    <% end %>  
</html>

