<!--This view is intended to view number of users registerd.-->
<!--Author: Ahmed T. Mohamed. --> 
 
 <html>   

    <h3 class = "title-2" > You have <%= @users %> users registerd on the website  </h3>
