<h1>Count#index</h1>
<div align='center'><a href='http://www.websitecounterfree.com'><img src='http://www.websitecounterfree.com/c.php?d=9&id=10278&s=40' border='0' title='website counter free - free website hitcounter for your website'></a><br / ><small><a href='http://www.free-website-hit-counter.com' title="free website hit counter">Free website hit counter</a></small></div>
<p>Find me in app/views/count/index.html.erb</p>
