<h3 class="title-2"> International Prices</h3>
<p>
<!DOCTYPE html>
<html>

<head>
<h6>
How Cubic Pricing Works:
</h6>
<p>
Cubic Pricing is measured by calculating:
</p>
Length x Width X Height / 1728 = Cubic Feet
<p>
Based on the cubic feet measurement, your package will fall into one of five tiers:
<p>
<ul>
<li>Tier 1: Packages up to .10 cubic feet </li>
<li>Tier 2: Packages more than .10 and up to .20 cubic feet </li>
<li>Tier 3: Packages more than .20 and up to .30 cubic feet </li>
<li>Tier 4: Packages more than .30 and up to .40 cubic feet </li>
<li>Tier 5: Packages more than .40 and up to .50 cubic feet</li>
</ul>
</p>

<FONT COLOR="FFD700">DHL Prices! </FONT>

</p>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
</style>
</head>

<body>
<table style="width:400px">
<tr>
  <th>Cubic Feet Range</th>
  <th>0.1	</th>
  <th>0.2</th>
<th>0.3</th>
<th>0.4</th>
<th>0.5</th>
  </tr>
<tr>
<tr>
  <td>Zone 1 and 2</td>
  <td>$4.58</td>
  <td>$4.99</td>
<td>$5.22</td>
<td>$5.40</td>
<td>6.18</td>

  </tr>
<tr>
  <td>Zone 3</td>
  <td>$4.65</td>
  <td>$5.12</td>
<td>$5.61</td>
<td>$6.31</td>
<td>$7.31</td>
</tr>
<tr>
  <td>Zone 4 </td>
  <td>$4.74</td>
  <td>$5.28</td>
  <td>$6.12</td>
  <td>$7.24</td>
  <td>$8.35</td>

</tr>
<tr>
 <td>Zone 5 </td>
  <td>$4.99</td>
  <td>$5.50</td>
  <td>$7.64</td>
  <td>$9.13</td>
  <td>$11.50</td>
</tr>
</table>
</body>
<p>
</p>
<FONT COLOR="CC0066">FedEx Prices! </FONT>

</p>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
</style>
</head>

<body>
<table style="width:400px">
<tr>
  <th>Cubic Feet Range</th>
  <th>0.1	</th>
  <th>0.2</th>
<th>0.3</th>
<th>0.4</th>
<th>0.5</th>
  </tr>
<tr>
<tr>
  <td>Zone 1 and 2</td>
  <td>$4.68</td>
  <td>$5.20</td>
<td>$5.80</td>
<td>$6.40</td>
<td>6.80</td>

  </tr>
<tr>
  <td>Zone 3</td>
  <td>$5.65</td>
  <td>$6.12</td>
<td>$6.61</td>
<td>$7.31</td>
<td>$8.31</td>
</tr>
<tr>
  <td>Zone 4 </td>
  <td>$5.74</td>
  <td>$6.28</td>
  <td>$7.12</td>
  <td>$8.24</td>
  <td>$9.35</td>

</tr>
<tr>
 <td>Zone 5 </td>
  <td>$5.99</td>
  <td>$6.50</td>
  <td>$7.64</td>
  <td>$10.13</td>
  <td>$12.50</td>
</tr>
</table>
</body>

</html>

</p>
