
 <!--This view is intended to notify the user that comission was saved sucesfully-->
<!--Author: Ahmed T. Mohamed -->

  <html>

    <h3 class = "title-2" > Comission value saved succesfully </h3>

   </html> 