body{
background-image:url('White.jpg');
}
P{
font-size:20px;
font-family:Tahoma;
}
b{
color:#000080;
}
li{
font-size:20px;
font-family:Tahoma;
}
a{
position: relative;
top:-130px;
left:800px;
}
table{
position:relative; 
top:-670px; 
left:300px;
}