 <!--This view is intended to add a title, (render) that discribe more about the content,add show and back button -->
<!--Author: Mariam S. Elsanady -->
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
