 <!--This view is intended to add a button for editting profile and text fields for creditcard , mobile number and password. -->
<!--Author: Mohamed A.Gheith.-->

<form  action="edit">
	<h3 class="title-2">Edit Profile <br></h3>
Credit Card: <input type = "text" name="creditcard"><br>
Mobile Number: <input type = "text" name="mobilenumber"><br>
Password: <input type = "password" name="password"><br>
Confirm Password : <input type ="password" name="confirmPassword"><br>
<%if !flash[:notice].blank?%>
<div class="notice">
<%= flash[:notice]%>
</div>
<%end%>

<input type = "submit" value= "Edit Profile">
<br>
<br>
</form>