<h1>Listing users id</h1>
<form action='index'>
<table>
  <thead>
    <tr>
      <th>idNumber</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.idNumber %></td>
       <td>idverify : <input type="text" name="idVerify"></td>
       </tr>
    <% end %>
  <input type ='submit' value='save'>
  </tbody>

</table>
</form>
