<!-- This view intended to able the user insert his information . -->
<!-- input:mobileNumber(integer),idNumber(integer),Creditcard(integer) . -->
<!-- output: message that say he correctly updated his profile,message that say he must complete his profile.-->
<!-- Author: Mariam S. elSandy -->
<h3 class="title-2" > Complete my profile </h3>
<form  onsubmit="return pop_message() "action='update'>
<br>
<br>
credit card: <input type="name" name="creditCard"><br>
<br>
<br>
id number: <input type="name" name="idNumber"><br>
<br>
<br>
<br>
<input type ='submit' value='save'>
<br>
<br>
<br>
<br>
<br>
</form>
<script>
function pop_message(){

	alert ("information saved succesfuly")
}
</script>


